{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver"
    ],
    "transform-decorators-legacy",
    "transform-exponentiation-operator",
    "transform-export-extensions"
  ]
}