{
  "extends": "@react-native-community",
  "rules": {
    "comma-dangle": ["error", "always-multiline", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}